<nav>
  <div class="nav-div">
    <a href="index.html">SK</a>
  </div>
  <div class="nav-div1">
    <a routerLink="home">00 Home</a><!--
    --><a routerLink="project">01 Projects</a><!--
    --><a routerLink="comsoon" >02 About</a><!--
    --><a routerLink="comsoon">03 Feedback</a>
  </div>
  <div class="nav-div2">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="21"><g fill="#D0D6F9" fill-rule="evenodd"><path d="M0 0h24v3H0zM0 9h24v3H0zM0 18h24v3H0z"/></g></svg>
  </div>
</nav>
<router-outlet>