    <section class="title">
        <h1>Projects</h1>
    </section>
    <section class="sec1">
        <div class="sec1-div">
            <img src="assets/404-Page-Desktop-view.jpeg" alt="404-Page-Desktop-view"><!--
            --><div class="sec1-div-div">
                <div class="sec1-div-div1">
                    <h1>404 Not Found</h1>
                    <p>This is a solution to the 404 Not Found challenge on Frontend Mentor. Frontend Mentor challenges help you improve your coding skills by building realistic projects.</p>
                    <a target="_blank" href="https://github.com/Santhoshlesk/404_Not_Found">Source Code</a>
                    <a target="_blank" href="https://santhoshlesk.github.io/404_Not_Found/">Preview</a>
                </div>
            </div>
        </div>
        <div class="sec1-div">
            <img src="assets/landing-page.jpeg" alt="comming_soon-page">
            <div class="sec1-div-div">
                <div class="sec1-div-div1">
                    <h1>Sunnyside-landing-page</h1>
                    <p>This is a solution to the Sunnyside agency landing page challenge on Frontend Mentor. Frontend Mentor challenges help you improve your coding skills by building realistic projects.</p>
                    <a target="_blank" href="https://github.com/Santhoshlesk/sunnyside-landing-page">Source Code</a>
                    <a target="_blank" href="https://santhoshlesk.github.io/sunnyside-landing-page/">Preview</a>
                </div>
            </div>
        </div>
        <div class="sec1-div">
            <img src="assets/comming_soon.jpeg" alt="comming_soon-page">
            <div class="sec1-div-div">
                <div class="sec1-div-div1">
                    <h1>Base Apparel coming soon page</h1>
                    <p>This is a solution to the coming soon page challenge on Frontend Mentor. Frontend Mentor challenges help you improve your coding skills by building realistic projects.</p>
                    <a target="_blank" href="https://github.com/Santhoshlesk/Base-Apparel-coming-soon-page">Source Code</a>
                    <a target="_blank" href="https://santhoshlesk.github.io/Base-Apparel-coming-soon-page/">Preview</a>
                </div>
            </div>
        </div>
        <div class="sec1-div">
            <img src="assets/space-tour.jpeg" alt="comming_soon-page">
            <div class="sec1-div-div">
                <div class="sec1-div-div1">
                    <h1>Space tourism</h1>
                    <p>This is a solution to the Space tourism challenge on Frontend Mentor. Frontend Mentor challenges help you improve your coding skills by building realistic projects.</p>
                    <a target="_blank" href="https://github.com/Santhoshlesk/space-tourism-Home">Source Code</a>
                    <a target="_blank" href="https://santhoshlesk.github.io/space-tourism-Home/">Preview</a>
                </div>
            </div>
        </div>
        <div class="sec1-div">
            <img src="assets/sign_form.jpeg" alt="intro component with signup form master">
            <div class="sec1-div-div">
                <div class="sec1-div-div1">
                    <h1>intro component with signup form master</h1>
                    <p>This is a solution to the signup form master challenge on Frontend Mentor. Frontend Mentor challenges help you improve your coding skills by building realistic projects.</p>
                    <a target="_blank" href="https://github.com/Santhoshlesk/intro-component-with-signup-form">Source Code</a>
                    <a target="_blank" href="https://santhoshlesk.github.io/intro-component-with-signup-form/">Preview</a>
                </div>
            </div>
        </div>
        <div class="sec1-div">
            <img src="assets/intro-sec-nav.jpeg" alt="Intro section with navigation">
            <div class="sec1-div-div">
                <div class="sec1-div-div1">
                    <h1>Intro section with navigation</h1>
                    <p>This is a solution to the Intro section with navigation challenge on Frontend Mentor. Frontend Mentor challenges help you improve your coding skills by building realistic projects.</p>
                    <a target="_blank" href="https://github.com/Santhoshlesk/intro-section-with-navigation">Source Code</a>
                    <a target="_blank" href="https://santhoshlesk.github.io/intro-section-with-navigation/">Preview</a>
                </div>
            </div>
        </div>
        <div class="sec1-div">
            <img src="assets/3-card.jpeg" alt="3-card">
            <div class="sec1-div-div">
                <div class="sec1-div-div1">
                    <h1>3 component preview card</h1>
                    <p>This is a solution to the 3 component preview card challenge on Frontend Mentor. Frontend Mentor challenges help you improve your coding skills by building realistic projects.</p>
                    <a target="_blank" href="https://github.com/Santhoshlesk/3-column-preview-card">Source Code</a>
                    <a target="_blank" href="https://santhoshlesk.github.io/3-column-preview-card/">Preview</a>
                </div>
            </div>
        </div>
    </section>