/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;400;500;600&family=Bellefair&display=swap');
*{margin:0;}
body{
    background:url(assets/home/background-home-desktop.jpg);
    background-size: 100%;
}
@media (max-width:991px) and (min-width:336px){
    body{
        background:url(assets/home/background-home-mobile.jpg);
        background-size: 100%;
    }
}